<!-- Footer -->
<footer id="main-footer">
    <div class="footer-social">
        <ul> <!-- social network fa fa icons -->
            <li><a href="#"><i class="fa fa-google-plus-official"></i></a></li>
            <li><a href="#"><i class="fa fa-linux"></i></a></li>
            <li><a href="#"><i class="fa fa-reddit"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-btc"></i></a></li>
        </ul>
    </div> <!-- /footer-social fa fa -icons -->
</footer> <!-- /footer -->