<header>
  <div id="headerText">
    <p >IoT Energy Monitoring Solution</p>
  </div>
  <div id="headerInfo">
    <p><i class="fa fa-user-secret"></i>Admin</p>
    <p><i class="fa fa-wifi"></i>Conn</p>
  </div>
</header>
<!-- Grid box to display last 3 to 5 data sets (depending on screen size)
    logo    |
    Home    |
    Live    |   ----- ----- ----- ----- -----
    History |   |   | |   | |   | |   | |   |
    Reports |   ----- ----- ----- ----- -----
    Settings|   ----- ----- ----- ----- -----
            |   |   | |   | |   | |   | |   |
            |   ----- ----- ----- ----- -----
            |   ----- ----- ----- ----- -----
            |   |   | |   | |   | |   | |   |
            |   ----- ----- ----- ----- -----
    social  |

    Electricity:
          Water:
            Gas:

    Reports and additional settings will be implemented in phase 2
 -->