<nav class="historyNavPanel">
    <ul>
        <li th:class="${#strings.startsWith(request.getRequestURI(), '/historyDataE') ? 'historyActive' : ''}">
            <a href="/historyDataElectricity/1">Electricity</a>
        </li>
        <li th:class="${#strings.startsWith(request.getRequestURI(), '/historyDataG') ? 'historyActive' : ''}">
            <a href="/historyDataGas/1">Gas</a>
        </li>
        <li th:class="${#strings.startsWith(request.getRequestURI(), '/historyDataW') ? 'historyActive' : ''}">
            <a href="/historyDataWater/1">Water</a>
        </li>
    </ul>
</nav>