<nav>
  <ul>
    <li class="nav-item active" th:class="${request.getRequestURI() == '/index' ? 'nav-item active' : 'nav-item'}">
      <a class="nav-link" href="/index">Home (TBD)</a>
    </li>
    <li class="nav-item" th:class="${request.getRequestURI() == '/liveData' ? 'nav-item active' : 'nav-item'}">
      <a class="nav-link" href="/liveData">Live data</a>
    </li>
    <li class="nav-item" th:class="${#strings.startsWith(request.getRequestURI(), '/historyData') ? 'nav-item active' : 'nav-item'}">
      <a class="nav-link" href="/historyDataElectricity/1">History data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Analysis (TBD)</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Reports (TBD)</a>
    </li>
    <li class="nav-item" th:class="${#strings.startsWith(request.getRequestURI(), '/settings')
              || #strings.startsWith(request.getRequestURI(), '/devices')
              || #strings.startsWith(request.getRequestURI(), '/users') ? 'nav-item active' : 'nav-item'}">
      <a class="nav-link" href="/settings">Settings</a>
    </li>
    <li class="nav-item" th:class="${request.getRequestURI() == '/logout' ? 'nav-item active' : 'nav-item'}">
      <a class="nav-link" href="/logout">Log out</a>
    </li>
  </ul>
</nav>