<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
    <meta name="keywords" content="Energy Management System, EMS, Energy"/>
    <meta name="author" content="Kuzic Nenad" />
    <meta name="copyright" content="Kuzic Nenad" />

    <title>Energy Management System</title>

    <link rel="stylesheet" type="text/css" href="/css/logIn.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="alarmsPage">
<div class="allWrapper">
    <menu> <!-- start navigation menu -->
        <div class="logo">
            <a href="/index">My E M S</a>
        </div>

        <!-- Navigation -->
        <nav th:replace="~{fragments/nav :: nav}"></nav>

        <!-- Footer -->
        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </menu>
    <!-- end menu-->

    <main>

        <!-- Header and pre section -->
        <div th:replace="~{fragments/historyHeader :: header}"></div>

        <div class="contentDataWrapper">
            <section class="usersSection">
                <div class="settingsSectionHeader">
                    <h2>Alarms list</h2>
                </div>
                <table  class="alarmsTable">
                    <thead>
                    <tr class="indexDataItems">
                        <th>Code</th><th>Description</th><th>Timestamp</th><th>Acknowledged time</th><th>ack</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="alarm_data : ${getAllAlarms}" class="indexDataItems">
                        <td th:inline="text" class="td-index">[[${alarm_data.alarm_code}]]</td>
                        <td th:inline="text" class="td-index">[[${alarm_data.alarm_desc}]]</td>
                        <td th:inline="text" class="td-index">[[${alarm_data.time_stamp}]]</td>
                        <td th:inline="text" class="td-index">[[${alarm_data.acknowledged_time}]]</td>
                        <td class="td-center-items">
                            <a th:href="@{/ackFlag/{alarm_id}(alarm_id=${alarm_data.alarm_id})}">
                                <i th:if="${alarm_data.ack_flag}" class="fa fa-bell" style="color: #21BF73"></i>
                                <i th:unless="${alarm_data.ack_flag}" class="fa fa-bell" style="color: #FF1700"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="backToSettings paginationItems">
                    <a th:href="@{/index}">Home</a>
                </div>
            </section>
        </div>
    </main>
</div>
</body>
</html>