<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
  <meta name="keywords" content="Energy Management System, EMS, Energy"/>
  <meta name="author" content="Kuzic Nenad" />
  <meta name="copyright" content="Kuzic Nenad" />

  <title>Energy Management System</title>

  <link rel="stylesheet" type="text/css" href="/css/logIn.css" th:href="@{/css/formNewSave.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="usersFormPage">
  <main>
    <h1>Energy Management System</h1>
    <hr>
    <h2>Change Password</h2>

    <div class="content">
      <form class="loginForm" th:action="@{/changePasswordLogic}" th:object="${passwords}" method="POST">

        <!-- Hidden ID field to handle update requests -->
        <input type="hidden" th:field="*{id}">

        <div class="formGroup">
          <input class="formInput" type="password" th:field="*{oldPassword}" placeholder="Current password" required>
        </div>

        <div class="formGroup">
          <input class="formInput" type="password" th:field="*{newPassword}" placeholder="New password" required>
        </div>

        <div class="formGroup">
          <input class="formInput" type="password" th:field="*{repeatNewPassword}" placeholder="Repeat password" required>
        </div>

        <input class="saveBtn" name="AddUser" type="submit" value="Change Password"></input>

      </form>
    </div>

    <div class="backToSettings backButton">
      <a th:href="@{/users}">Back</a>
    </div>
  </main>
</body>
</html>