<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
    <meta name="keywords" content="Energy Management System, EMS, Energy"/>
    <meta name="author" content="Kuzic Nenad" />
    <meta name="copyright" content="Kuzic Nenad" />
    <meta HTTP-EQUIV="Refresh" CONTENT="10">

    <title>Energy Management System</title>

    <link rel="stylesheet" type="text/css" href="/css/logIn.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="liveDataPage">
    <div class="allWrapper">
        <menu> <!-- start navigation menu -->
            <div class="logo">
                <a href="/index">My E M S</a>
            </div>

            <!-- Navigation -->
            <nav th:replace="~{fragments/nav :: nav}"></nav>

            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}"></footer>
        </menu>
        <!-- end menu-->

        <main>

            <!-- Header and pre section -->
            <div th:replace="fragments/historyHeader :: header"></div>

            <div class="preSection">
                <p id="leftText">Consumption history data</p>
                <p id="rightText" th:text="${getCurrentDateTime}"></p>
            </div>

            <div class="contentDataWrapper">
                <!-- Section Electricity Data -->
                <section class="contentDataWrapper">
                    <div class="sectionDataWrapper">

                        <!-- Nav panel -->
                        <div th:replace="fragments/historyNavPanel :: nav"></div>

                        <table>
                            <tbody>
                            <tr th:each="water_history_data : ${listWaterHistory}" class="dataItems">
                                <td th:inline="text" class="td-1">[[${water_history_data.water_consumption}]] </td>
                                <td th:text="${#dates.format(water_history_data.date, 'dd-MM-yyyy')}" class="td-2"></td>
                            </tr>
                            </tbody>
                        </table>
                        <div th:if="${totalPages > 1}">
                            <div class="paginationWrapper">
                                <div id="totalItems">
                                    Total records: [[${totalItems}]]
                                </div>
                                <div class="pageNumber">
                                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                        <a th:if="${currentPage != i}" th:href="@{'/historyDataWater/' + ${i}}">[[${i}]]</a>
                                        <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                                    </span>
                                </div>

                                <div class="paginationItems">
                                    <a th:if="${currentPage > 1}" th:href="@{'/historyDataWater/' + ${1}}">First</a>
                                    <span th:unless="${currentPage > 1}">First</span>
                                </div>

                                <div class="paginationItems">
                                    <a th:if="${currentPage > 1}" th:href="@{'/historyDataWater/' + ${currentPage - 1}}">Previous</a>
                                    <span th:unless="${currentPage > 1}">Previous</span>
                                </div>

                                <div class="paginationItems">
                                    <a th:if="${currentPage < totalPages}" th:href="@{'/historyDataWater/' + ${currentPage + 1}}">Next</a>
                                    <span th:unless="${currentPage < totalPages}">Next</span>
                                </div>

                                <div class="paginationItems">
                                    <a th:if="${currentPage < totalPages}" th:href="@{'/historyDataWater/' + ${totalPages}}">Last</a>
                                    <span th:unless="${currentPage < totalPages}">Last</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </main>
    </div>
</body>
</html>