<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
    <meta name="keywords" content="Energy Management System, EMS, Energy"/>
    <meta name="author" content="Kuzic Nenad" />
    <meta name="copyright" content="Kuzic Nenad" />

    <title>Energy Management System</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <menu> <!-- start navigation menu -->
            <div class="logo">
                <a href="index.html">E M S</a>
            </div> 

            <nav>
                <ul>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Live data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">History data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                </ul>
            </nav>
        </menu> <!-- end navigation menu -->

        <div id="social-media">
            <ul>        
		       <li><a href="#"><i class="fab fa-facebook"></i>FB</a></li>
		       <li><a href="#"><i class="fab fa-twitter"></i>TW</a></li>
		       <li><a href="#"><i class="fab fa-instagram"></i>IG</a></li>
		    </ul>
        </div>
    </header> <!-- end header-->

    <main class="main-grid">
        <!-- Grid box to display last 3 to 5 data sets (depending on screen size)
            logo    |
            Home    |   
            Live    |   ----- ----- ----- ----- -----
            History |   |   | |   | |   | |   | |   |    
            Reports |   ----- ----- ----- ----- -----   
            Settings|   ----- ----- ----- ----- -----
                    |   |   | |   | |   | |   | |   |
                    |   ----- ----- ----- ----- -----
                    |   ----- ----- ----- ----- -----
                    |   |   | |   | |   | |   | |   |
                    |   ----- ----- ----- ----- -----
            social  |

            Electricity: 
                  Water:
                    Gas:
        
            Reports and additional settings will be implemented in phase 2
         -->

         <!-- Section Electricity Data -->
         <section id="section-electricity" class="grid-1">
            <div class="content-wrapper">
                <table>
                    <tbody>
                        <tr th:each="electricity_live_data : ${lastElectricityData}" class="dataItems">
                            <td th:text="${electricity_live_data.consumption}"></td>
                            <td th:text="${electricity_live_data.start_time}"></td>
                            <td th:text="${electricity_live_data.end_time}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
         </section>

         <!-- Section Water Data -->
         <section id="section-water" class="grid-2">
            <div class="content-wrapper">
                <table>
                    <tbody>
                    <tr th:each="gas_live_data : ${lastGasData}" class="dataItems">
                        <td th:text="${gas_live_data.consumption}"></td>
                        <td th:text="${gas_live_data.start_time}"></td>
                        <td th:text="${gas_live_data.end_time}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

         <!-- Section Gas Data -->
         <section id="section-gas" class="grid-3">
            <div class="content-wrapper">
                <table>
                    <tbody>
                    <tr th:each="water_live_data : ${lastWaterData}" class="dataItems">
                        <td th:text="${water_live_data.consumption}"></td>
                        <td th:text="${water_live_data.start_time}"></td>
                        <td th:text="${water_live_data.end_time}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </main>

</body>
</html>