<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:insert="~{head :: head}"></div>

<body class="indexPage">
    <div class="allWrapper">
        <menu> <!-- start navigation menu -->
            <div class="logo">
                <a href="/index">My E M S</a>
            </div>

            <!-- Navigation -->
            <div th:insert="~{nav :: nav}"></div>

            <!-- Footer -->
            <div th:insert="~{footer :: footer}"></div>
        </menu>
        <!-- end menu-->

        <main>
            <div class="wrapIndexItems">
                <div class="indexMainLeft">
                    <div class="deviceStatus">
                        <h2>Devices Status</h2>

                    </div>
                    <div class="alarmEventStatus">
                        <h2>Alarm Event Status</h2>

                    </div>
                </div>

                <div class="indexMainRight">
                    <section class="peakValues">
                        <div class="section-data-wrapper">
                            <table>
                                <tbody>
                                <tr th:each="gas_live_data : ${lastGasData}" class="dataItems">
                                    <td th:inline="text" class="td-1">[[${gas_live_data.consumption}]] </td>
                                    <td th:text="${#dates.format(gas_live_data.start_time, 'HH:mm')} +
                        '-' + ${#dates.format(gas_live_data.end_time, 'HH:mm')}" class="td-2"></td>
                                </tr>
                                <tr th:each="gas_live_data : ${lastGasData}" class="dataItems">
                                    <td th:inline="text" class="td-1">[[${gas_live_data.consumption}]] </td>
                                    <td th:text="${#dates.format(gas_live_data.start_time, 'HH:mm')} +
                        '-' + ${#dates.format(gas_live_data.end_time, 'HH:mm')}" class="td-2"></td>
                                </tr>
                                <tr th:each="gas_live_data : ${lastGasData}" class="dataItems">
                                    <td th:inline="text" class="td-1">[[${gas_live_data.consumption}]] </td>
                                    <td th:text="${#dates.format(gas_live_data.start_time, 'HH:mm')} +
                        '-' + ${#dates.format(gas_live_data.end_time, 'HH:mm')}" class="td-2"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="sectionText">
                            <p>Peak values</p>
                        </div>
                    </section>
                    <section class="previousDayValues">
                        <div class="section-data-wrapper">
                            <table>
                                <tbody>
                                <tr th:each="gas_live_data : ${lastGasData}" class="dataItems">
                                    <td th:inline="text" class="td-1">[[${gas_live_data.consumption}]] </td>
                                    <td th:text="${#dates.format(gas_live_data.start_time, 'HH:mm')} +
                        '-' + ${#dates.format(gas_live_data.end_time, 'HH:mm')}" class="td-2"></td>
                                </tr>
                                <tr th:each="gas_live_data : ${lastGasData}" class="dataItems">
                                    <td th:inline="text" class="td-1">[[${gas_live_data.consumption}]] </td>
                                    <td th:text="${#dates.format(gas_live_data.start_time, 'HH:mm')} +
                        '-' + ${#dates.format(gas_live_data.end_time, 'HH:mm')}" class="td-2"></td>
                                </tr>
                                <tr th:each="gas_live_data : ${lastGasData}" class="dataItems">
                                    <td th:inline="text" class="td-1">[[${gas_live_data.consumption}]] </td>
                                    <td th:text="${#dates.format(gas_live_data.start_time, 'HH:mm')} +
                        '-' + ${#dates.format(gas_live_data.end_time, 'HH:mm')}" class="td-2"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="sectionText">
                            <p>Previous day values</p>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>
</body>
</html>