<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
    <meta name="keywords" content="Energy Management System, EMS, Energy"/>
    <meta name="author" content="Kuzic Nenad" />
    <meta name="copyright" content="Kuzic Nenad" />

    <title>Energy Management System</title>

    <link rel="stylesheet" type="text/css" href="/css/logIn.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="liveDataPage">
    <div class="allWrapper">
        <menu> <!-- start navigation menu -->
            <div class="logo">
                <a href="/index">My E M S</a>
            </div>

            <!-- Navigation -->
            <div th:insert="~{nav :: nav}"></div>

            <!-- Footer -->
            <div th:insert="~{footer :: footer}"></div>
        </menu>
        <!-- end menu-->

    <main>

        <header>
            <div id="headerText">
                <p >IoT Energy Monitoring Solution</p>
            </div>
            <div id="headerInfo">
                <p><i class="fa fa-user-secret"></i>Admin</p>
                <p><i class="fa fa-wifi"></i>Conn</p>
            </div>
        </header>
        <!-- Grid box to display last 3 to 5 data sets (depending on screen size)
            logo    |
            Home    |
            Live    |   ----- ----- ----- ----- -----
            History |   |   | |   | |   | |   | |   |
            Reports |   ----- ----- ----- ----- -----
            Settings|   ----- ----- ----- ----- -----
                    |   |   | |   | |   | |   | |   |
                    |   ----- ----- ----- ----- -----
                    |   ----- ----- ----- ----- -----
                    |   |   | |   | |   | |   | |   |
                    |   ----- ----- ----- ----- -----
            social  |

            Electricity:
                  Water:
                    Gas:

            Reports and additional settings will be implemented in phase 2
         -->
        <div class="preSection">
            <p id="leftText">Live data monitoring</p>
            <p id="alarmText">Alarm<i class="fa fa-bell"></i></p>
        </div>

         <!-- Section Electricity Data -->
         <section>
             <div class="section-data-wrapper">
                 <table>
                     <tbody>
                     <tr th:each="electricity_live_data : ${lastElectricityData}" class="dataItems">
                         <td th:inline="text" class="td-1">[[${electricity_live_data.consumption}]] </td>
                         <td th:text="${#dates.format(electricity_live_data.start_time, 'HH:mm')} +
                    '-' + ${#dates.format(electricity_live_data.end_time, 'HH:mm')}" class="td-2"></td>
                     </tr>
                     </tbody>
                 </table>
             </div>

             <div class="sectionText">
                 <p>Electricity (w/h)</p>
             </div>
         </section>

         <!-- Section Water Data -->
         <section>
             <div class="section-data-wrapper">
                 <table>
                    <tbody>
                    <tr th:each="gas_live_data : ${lastGasData}" class="dataItems">
                        <td th:inline="text" class="td-1">[[${gas_live_data.consumption}]] </td>
                        <td th:text="${#dates.format(gas_live_data.start_time, 'HH:mm')} +
                        '-' + ${#dates.format(gas_live_data.end_time, 'HH:mm')}" class="td-2"></td>
                    </tr>
                    </tbody>
                 </table>
             </div>

             <div class="sectionText">
                 <p>Gas (w/h)</p>
             </div>
        </section>

         <!-- Section Gas Data -->
         <section>
             <div class="section-data-wrapper">
                 <table>
                    <tbody>
                    <tr th:each="water_live_data : ${lastWaterData}" class="dataItems">
                        <td th:inline="text" class="td-1">[[${water_live_data.consumption}]] </td>
                        <td th:text="${#dates.format(water_live_data.start_time, 'HH:mm')} +
                        '-' + ${#dates.format(water_live_data.end_time, 'HH:mm')}" class="td-2"></td>
                    </tr>
                    </tbody>
                 </table>
             </div>
             <div class="sectionText">
                 <p>Water (l/h)</p>
             </div>
        </section>

    </main>
    </div>
</body>
</html>