<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:insert="~{head :: head}"></div>

<body class="indexPage">
        <main>
            <section class="container">
                <video class="fullscreen" src="../images/Hologram_Planet_by_nuva_preview.mp4" playsinline autoplay muted loop>
                </video>

                <div class="content">
                    <form class="loginForm" th:action="@{/login}" method="POST">
                        <div class="formGroup">
                            <i class="fa fa-android"></i>
                            <input class="formInput" type="text" name="username" placeholder="Username" required><br>
                        </div>
                        <div class="formGroup">
                            <i class="fa fa-lock"></i>
                            <input class="formInput" type="password" name="password" placeholder="Password" required><br>
                        </div>
                        <input class="loginBtn" name="Submit" type="submit" value="LOGIN">
                    </form>
                </div>

            </section>
        </main>
</body>
</html>

