<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
    <meta name="keywords" content="Energy Management System, EMS, Energy"/>
    <meta name="author" content="Kuzic Nenad" />
    <meta name="copyright" content="Kuzic Nenad" />

    <title>Energy Management System</title>

    <link rel="stylesheet" type="text/css" href="/css/logIn.css" th:href="@{/css/logIn.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="indexPage">
        <main>
            <section class="container">
                <video class="fullscreen" src="../images/Hologram_Planet_by_nuva_preview.mp4" playsinline autoplay muted loop>
                </video>

                <div class="content">
                    <form class="loginForm" th:action="@{/login}" method="POST">
                        <div class="formGroup">
                            <i class="fa fa-android"></i>
                            <input class="formInput" type="text" name="username" placeholder="Username" required><br>
                        </div>
                        <div class="formGroup">
                            <i class="fa fa-lock"></i>
                            <input class="formInput" type="password" name="password" placeholder="Password" required><br>
                        </div>
                        <input class="loginBtn" name="Submit" type="submit" value="LOGIN">
                    </form>
                </div>

            </section>
        </main>
</body>
</html>

