<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:insert="~{head :: head}"></div>

<body>
  <main>
    <h1>Energy Management System</h1>
    <hr>
    <h2>Update Device</h2>

    <form action="#" th:action="@{/saveDeviceViaForm}" th:object="${device}" method="POST">

      <input type="text" th:field="*{device_name}"
             pattern="[a-zA-ZÀ-ž ]{2,20}" title="Only characters are allowed and length must be between 2 and 20 characters." required>

      <input type="text" th:field="*{description}" th:value="true"
             pattern="[a-zA-ZÀ-ž ]{5,50}" title="Only characters are allowed and length must be between 5 and 50 characters.">

      <input type="date" th:field="*{production_date}" required>

      <input type="text" th:field="*{made_in}"
             pattern="[a-zA-ZÀ-ž ]{2,20}" title="Only characters are allowed and length must be between 2 and 20 characters." required>

      <input type="hidden" th:field="*{active_flag}" th:value="true"> <!-- Assign default -->

      <button type="submit">Add device</button>

    </form>

    <hr>

    <a th:href="@{/devices}">Back</a>
  </main>
</body>
</html>