<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
  <meta name="keywords" content="Energy Management System, EMS, Energy"/>
  <meta name="author" content="Kuzic Nenad" />
  <meta name="copyright" content="Kuzic Nenad" />

  <title>Energy Management System</title>

  <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <main>
    <h1>Energy Management System</h1>
    <hr>
    <h2>Update Device</h2>

    <form action="#" th:action="@{/saveDeviceViaForm}" th:object="${device}" method="POST">

      <input type="text" th:field="*{device_name}">

      <input type="text" th:field="*{description}">

      <input type="date" th:field="*{production_date}">

      <input type="text" th:field="*{made_in}">

      <input type="hidden" th:field="*{active_flag}" th:value="true"> <!-- Assign default -->

      <button type="submit">Add device</button>

    </form>

    <hr>

    <a th:href="@{/devices}">Back</a>
  </main>
</body>
</html>