<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
  <meta name="keywords" content="Energy Management System, EMS, Energy"/>
  <meta name="author" content="Kuzic Nenad" />
  <meta name="copyright" content="Kuzic Nenad" />

  <title>Energy Management System</title>

  <link rel="stylesheet" type="text/css" href="/css/logIn.css" th:href="@{/css/formNewSave.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <main>
    <h1>Energy Management System</h1>
    <hr>
    <h2>Add new Device</h2>

    <div class="content">
      <form class="loginForm" action="#" th:action="@{/devices/saveDeviceViaForm}" th:object="${device}" method="POST">
        <div class="formGroup">
          <input class="formInput"  type="text" th:field="*{device_name}"
               pattern="[a-zA-ZÀ-ž ]{2,20}" title="Only characters are allowed and length must be between 2 and 20 characters."
                 placeholder="Device name" required>
        </div>

        <div class="formGroup">
          <input class="formInput"  type="text" th:field="*{description}" th:value="true"
               pattern="[a-zA-ZÀ-ž ]{5,50}" title="Only characters are allowed and length must be between 5 and 50 characters."
                 placeholder="Description">
        </div>

        <div class="formGroup">
          <input class="formInput" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" th:field="*{production_date}"
                 placeholder="Production date" required>
        </div>

        <div class="formGroup">
          <input class="formInput"  type="text" th:field="*{made_in}"
               pattern="[a-zA-ZÀ-ž ]{2,25}" title="Only characters are allowed and length must be between 2 and 20 characters."
                 placeholder="Made in" required>
        </div>

        <input class="formInput" type="hidden" th:field="*{active_flag}" th:value="true"> <!-- Assign default -->

        <input class="saveBtn" name="AddDevice" type="submit" value="Add Device"></input>

      </form>
    </div>

    <hr>
    <div class="backToSettings backButton">
      <a th:href="@{/devices}">Back</a>
    </div>
  </main>
</body>
</html>