<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
  <meta name="keywords" content="Energy Management System, EMS, Energy"/>
  <meta name="author" content="Kuzic Nenad" />
  <meta name="copyright" content="Kuzic Nenad" />

  <title>Energy Management System</title>

  <link rel="stylesheet" type="text/css" href="/css/logIn.css" th:href="@{/css/formNewSave.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="usersFormPage">
  <main>
    <h1>Energy Management System</h1>
    <hr>
    <h2>Create New User</h2>

    <div class="content">
      <form class="loginForm" action="#" th:action="@{/saveUserViaForm}" th:object="${user}" method="POST">

        <div class="formGroup">
          <input class="formInput" type="text" th:field="*{name}"
               pattern="[a-zA-ZÀ-ž ]{2,20}" title="Only characters are allowed and length must be between 2 and 20 characters."
               placeholder="Full name" required>
        </div>

        <div class="formGroup">
          <input class="formInput" type="text" th:field="*{username}" th:value="true"
               pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{5,50}" title="Length must be between 5 and 50 characters."
               placeholder="Username" required>
        </div>

        <div class="formGroup">
          <input class="formInput" type="email" th:field="*{email}" th:value="true"
                 placeholder="E-mail address"  required>
        </div>

        <div class="formGroup">
          <input class="formInput" type="password" th:field="*{password}" th:value="true"
                 placeholder="Password" required>
        </div>

        <input class="saveBtn" name="AddUser" type="submit" value="Create User"></input>

      </form>
    </div>

    <hr>
    <div class="backToSettings paginationItems">
      <a th:href="@{/users}">Back</a>
    </div>
  </main>
</body>
</html>