<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
    <meta name="keywords" content="Energy Management System, EMS, Energy"/>
    <meta name="author" content="Kuzic Nenad" />
    <meta name="copyright" content="Kuzic Nenad" />

    <title>Energy Management System</title>

    <link rel="stylesheet" type="text/css" href="/css/logIn.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="indexPage">
    <div class="allWrapper">
        <menu> <!-- start navigation menu -->
            <div class="logo">
                <a href="/index">My E M S</a>
            </div>

            <!-- Navigation -->
            <nav th:replace="~{fragments/nav :: nav}"></nav>

            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}"></footer>
        </menu>
        <!-- end menu-->

        <main>
            <div class="contentDataWrapper">
                <section class="settingsSection">
                    <div sec:authorize="hasAuthority('ADMIN') or hasAuthority('ROOT')">
                        <div class="wrapSettingsItems">
                            <a href="/activeDevices">
                                <div class="settingsItems">
                                    Manage Devices
                                </div>
                            </a>
                            <a href="/users">
                                <div class="settingsItems">
                                    Manage Users
                                </div>
                            </a>
                        </div>
                    </div>

                    <div>
                        <div class="wrapSettingsItems">
                            <a href="/changePasswordForm">
                                <div class="settingsItems">
                                    Change Password
                                </div>
                            </a>

                            <a href="/changePasswordForm">
                                <div class="settingsItems">
                                    Change Theme
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
</html>