<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
    <meta name="keywords" content="Energy Management System, EMS, Energy"/>
    <meta name="author" content="Kuzic Nenad" />
    <meta name="copyright" content="Kuzic Nenad" />

    <title>Energy Management System</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="indexPage">
    <div class="allWrapper">
        <menu> <!-- start navigation menu -->
            <div class="logo">
                <a href="/index">My E M S</a>
            </div>

            <!-- Navigation -->
            <div th:insert="~{nav :: nav}"></div>

            <!-- Footer -->
            <div th:insert="~{footer :: footer}"></div>
        </menu>
        <!-- end menu-->

        <main>
            <div class="wrapSettingsItems">
                <a href="/devices"><div class="settingsItems">
                    Devices
                </div></a>
                <div class="settingsItems">
                    <a href="/users">Users</a>
                </div>
                <div class="settingsItems">
                    <a href="/preferences">Preferences</a>
                </div>

            </div>
        </main>
    </div>
</body>
</html>