<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<div th:insert="~{head :: head}"></div>

<body class="indexPage">
    <div class="allWrapper">
        <menu> <!-- start navigation menu -->
            <div class="logo">
                <a href="/index">My E M S</a>
            </div>

            <!-- Navigation -->
            <div th:insert="~{nav :: nav}"></div>

            <!-- Footer -->
            <div th:insert="~{footer :: footer}"></div>
        </menu>
        <!-- end menu-->

        <main>
            <div class="wrapSettingsItems">
                <a href="/devices"><div class="settingsItems">
                    Devices
                </div></a>
                <div class="settingsItems">
                    <a href="/users">Users</a>
                </div>
                <div class="settingsItems">
                    <a href="/preferences">Preferences</a>
                </div>

            </div>
        </main>
    </div>
</body>
</html>