<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EMS for monitoring consumption, giving live and history data and reports."/>
    <meta name="keywords" content="Energy Management System, EMS, Energy"/>
    <meta name="author" content="Kuzic Nenad" />
    <meta name="copyright" content="Kuzic Nenad" />

    <title>Energy Management System</title>

    <link rel="stylesheet" type="text/css" href="/css/logIn.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="usersPage">
    <div class="allWrapper">
        <menu> <!-- start navigation menu -->
            <div class="logo">
                <a href="/index">My E M S</a>
            </div>

            <!-- Navigation -->
            <nav th:replace="~{fragments/nav :: nav}"></nav>

            <!-- Footer -->
            <footer th:replace="~{fragments/footer :: footer}"></footer>
        </menu>
        <!-- end menu-->

        <main>
            <div class="contentDataWrapper">
                <section class="usersSection">
                    <div class="settingsSectionHeader">
                        <h2>Users list</h2>
                        <div class="addNewRecord">
                            <a th:href="@{/users/newUserForm}"><i class="fa fa-pencil">Add new user</i></a>
                        </div>
                    </div>
                    <table class="usersTable">
                        <thead>
                            <tr>
                                <th>Name</th><th>Username</th><th>Email</th><th>Creation date</th><th>Last change</th><th>Roles</th><th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${usersList}" >
                                <td th:inline="text" class="td-devices">[[${user.name}]] </td>
                                <td th:inline="text" class="td-devices">[[${user.username}]] </td>
                                <td th:inline="text" class="td-devices">[[${user.email}]] </td>
                                <td th:text="${#dates.format(user.creation_date, 'dd-MM-yyyy HH:mm')}" class="td-devices"></td>
                                <td th:text="${#dates.format(user.last_update, 'dd-MM-yyyy HH:mm')}" class="td-devices"></td>
                                <td th:inline="text" class="td-devices">[[${user.roles}]] </td>
                                <td class="td-center-items">
                                    <a th:href="@{/users/userUpdateForm/{id}(id=${user.id})}">
                                        <i class="fa fa-pencil"></i></a>
                                    <a th:href="@{/users/deleteUser/{id}(id=${user.id})}">
                                        <i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="backToSettings paginationItems">
                        <a th:href="@{/settings}">Back</a>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
</html>