html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    align: center;
    padding: 0;
    margin: 0 auto;
    background: #000000;
    color: #F0F8FF;
    font-size: 16px;
    border: 2px solid orange;
}

h1, h2, h3, h5, p {
	margin: 0;
	padding: 0;
}

header {
    display: block;
    text-align: center;
    left: 0;
    top: 0;
    height: 100%;
    min-width: 300px;
    background: #042331;
    position: fixed;
}

menu {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
}

.logo {
    font-size: 32px;
    color: #F0F8FF;
    line-height: 70px;
    background: #063146;
    width: 100%;
    border-bottom: 1px solid orange;
}

.logo a{
    text-decoration: none;
    color: #F0F8FF;
}

.nav-link{
    display: block;
    line-height: 50px;
    padding: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.nav-item{
    padding-left: 20px;
    border-bottom: 1px solid orange;
}

.nav-link{
    text-decoration: none;
    color: #F0F8FF;
}

main{
    height: 100%;
    width: fit-content;
    border: 1px solid green;
}

main section{
    display: block;
    margin: 5px;
    border: 1px solid red;
}

.dataItems{
    display: inline-block;
    width: auto;
    margin: 5px;
    border: 1px solid red;
}

.td-1{
    display: block;
    height: auto;
    min-width: 150px;
    margin: 5px;
    border: 1px solid red;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 5px;
}

.td-2{
    display: block;
    width: auto;
    margin: 5px;
    border: 1px solid red;
    text-align: center;
    letter-spacing: 5px;
}



