html{
    width: auto;
    margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0 auto;
  background: #000000;
  color: #F0F8FF;
  font-size: 16px;
  position: relative;
}

h1, h2, h3, h5, p {
	margin: 0;
	padding: 0;
}

header {
    display: block;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    background: #042331;
}

menu {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
}

.logo {
    font-size: 32px;
    color: #F0F8FF;
    line-height: 70px;
    background: #063146;
    width: 100%;
    border-bottom: 1px solid orange;
}

.logo a{
    text-decoration: none;
    color: #F0F8FF;
}

.nav-link{
    display: block;
    line-height: 50px;
    padding: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.nav-item {
    padding-left: 20px;
    border-bottom: 1px solid orange;
}

.nav-link {
    text-decoration: none;
    color: #F0F8FF;
}

main{
    display: block;
    margin-left: 15%;
}

.main-grid{
    padding-top: 5%;
    margin-top: 5%;
    height: 100%;
    width: auto;
}

.main-grid section{
    display: block;
    margin: 5px;
    border: 1px solid red;
}

.grid-1 { grid-area: grid-1; }
.grid-2 { grid-area: grid-2; }
.grid-3 { grid-area: grid-3; }

.main-grid{
    display: grid;
    grid-template-areas:
        'grid-1 grid-1 grid-1'
        'grid-2 grid-2 grid-2'
        'grid-3 grid-3 grid-3';
    gap: 10px;
    }

.dataItems{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}

